@use '../utils/variables';
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    background-color: variables.$body-bg-color;
}

.dataDiv {
    position: absolute;
    width: 0px;
    height: 0px;
}