@use '../utils/variables';
@use '../utils/mixins';

.footer {
    margin-top: 25px;
}

.pagination__pages {
    display: flex;
    margin: 0 auto;
    height: 30px;
    justify-content: center;
}

.pagination__item {
    width: 30px;
    height: 30px;
    color: white;
    text-align: center;
}

.pagination__text {
    margin: auto;
}

.copyright__text {
    text-align: center;
    margin: 0 auto;
    color: variables.$header-input-text-color;
    @include mixins.text(16px, 1.22, 400);
}

@media (min-width: 768px) {
    .copyright__text {
        font-size: 18px;
    }
}